<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Погодный сайт</title>
      <style type="text/css">
   h1 {
    font-size: 180%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #333366;
   }
   a {
   font-size: 150%;
   color: #333399;
   text-decoration: none;
   }
   a:hover {text-decoration: underline;}
      </style>
</head>
<body>
    <h1 align="center">Погодный сайт</h1>
    <a href="/first_page/">Первая страница!</a>
    <p></p>
    <a href="/second_page/">Вторая страница!</a>
    <p></p>
    <a href="/third_page/">Третья страница!</a>
    <p></p>
    <a href="/fourth_page/">Четвёртая страница!</a>
    <p></p>
    <a href="/fifth_page/">Пятая страница!</a>
</body>
</html>