<html>
<head>
    <meta charset="UTF-8">
    <title>User Information Form</title>
</head>
<body>
<form action="manage.py" method="POST">
    {% csrf_token %}
    <select title="my_options">
        {% for city in cities %}
        <option>{{city}}</option>
        {% endfor %}
    </select><br>
    <input type="Submit" name="submit" value="Submit"/>
</form>
{% if submitbutton == "Submit" %}
<h1>Chosen city</h1>
{% endif %}
</body>
<script>
    'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'})
</script>

</html>
